@design-tokens url("./generated-tokens.json") format("style-dictionary3");

:root {
	/*
	--width-nav: design-token("width.nav");
	--foo: design-token("step-0");
	--bar: design-token("step-1");
	*/
	--foo: dt("color.dark-0");
}
