---
import Layout from "../layouts/content.astro";

const title = "Articles";
const description = "Deeper dives into web development";

// const posts = await Astro.glob("./articles/*.{md,mdx}");
---

<Layout title={title} description={description}>
	<h1 slot="header">Articles</h1>

	<p slot="default">WTF?!</p>
</Layout>
