---
import Layout from "../layouts/base.astro";
import Header from "../components/header.astro";
import { SITE_TITLE } from "../config";
---

<Layout>
  <div class="content">
    <Header title={SITE_TITLE} />
    <main>
      <!--
      <h1>{SITE_TITLE}</h1>
      <p>{SITE_DESCRIPTION}</p>
      -->
    </main>
  </div>
</Layout>

<style>
  body {
    background-image: url("/bg.avif");
    background-position: center top;
    background-repeat: no-repeat;
    background-color: var(--tint-bg);
  }

  .content {
    display: grid;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
  }
</style>
