---
import Page from "../layouts/page.astro";

const props = {
  title: "Welcome",
  description: "Oliver Turner's personal website",
}
---

<Page {...props}>
  <div></div>
</Page>

<style>
  :root {
    --content-bg: transparent;
  }
</style>
