---
import Base from "../components/base.astro";
import Link from "../components/home-link.astro";

const props = {
	title: "Home",
	description: "Oliver Turner's personal website",
};
---

<Base {...props}>
	<div class="page">
		<nav>
			<h1 class="logo clipped--br">
				<span>Oliver Turner</span>
			</h1>

			<Link href="/about">
				<Fragment slot="subtitle">
					Hello, I'm Oliver. <br />Pleased to meet you!
				</Fragment>
				<Fragment slot="title">An introduction</Fragment>
			</Link>

			<Link href="/projects">
				<Fragment slot="subtitle">
					Notes on the <br />process of building
				</Fragment>
				<Fragment slot="title">Side projects</Fragment>
			</Link>

			<Link href="/articles">
				<Fragment slot="subtitle">
					Thoughts on <br />development & the web
				</Fragment>
				<Fragment slot="title">Some articles</Fragment>
			</Link>

			<Link href="/weeknotes">
				<Fragment slot="subtitle">
					Tracking the <br />personal & professional
				</Fragment>
				<Fragment slot="title">Weeknotes</Fragment>
			</Link>

			<Link href="/in-use">
				<Fragment slot="subtitle">
					These are a few <br />of my favourite things
				</Fragment>
				<Fragment slot="title">In use</Fragment>
			</Link>
		</nav>
	</div>
</Base>

<style>
	@design-tokens url("../styles/generated-tokens.json") format("style-dictionary3");

	.page {
		display: grid;
		align-items: start;

		overflow-x: hidden;
		overflow-y: auto;
		min-height: 100vh;
		min-height: 100svh;

		@media (min-width: dt("viewport.medium")) {
			align-items: center;
		}
	}
	nav {
		--gap: dt("step-0");

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
		gap: var(--gap);

		box-sizing: border-box;
		width: 100vw;
		max-width: dt("viewport.large");
		margin: 0 auto;
		padding: var(--gap);
	}

	.logo {
		--gap: dt("step-0");

		display: grid;
		grid-template-columns: auto auto;
		place-content: end start;

		padding: var(--gap);
		background: #000;
		color: dt("color.grey-1");

		& span {
			font-size: 1.75rem;
			font-weight: 400;
			letter-spacing: 4px;
			margin-bottom: -0.6rem;
		}

		@media (min-width: dt("viewport.medium")) {
			& span {
				font-size: 2.3rem;
				font-weight: 300;
				margin-bottom: -0.8rem;
			}
		}

		@media (min-width: 889px) {
			--gap: dt("step-1");

			aspect-ratio: 1;

			& span {
				font-size: 2.65rem;
				margin-bottom: -1rem;
			}
		}
	}
</style>
