---
import Layout from "../layouts/base.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<Layout>
  <Header title={SITE_TITLE} />
  <main>

  </main>
  <Footer />
</Layout>

<style>
  body {
    --avatar-wh: 200px;
    --avatar-y: calc(var(--avatar-wh) * -0.5);
    --content-pt: calc(var(--avatar-y) * -1.25);
    --content-pb: calc(var(--content-pt) * 0.5);
    --tint1: #a8a6ea;
    --tint2: #7c295d;
    --tint3: #fff;
    --tint4: #fff382;
    --tint5: #ffefd5;

    --top: var(--tint1);
    --bottom: var(--tint2);
    --stripe: #ffffff33;
    background-image: repeating-linear-gradient(
        135deg,
        var(--stripe),
        var(--stripe) 100px,
        transparent 100px,
        transparent 200px
      ),
      linear-gradient(135deg, var(--top) 0, var(--bottom) 100%);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 50%, cover;
  }
</style>
