---
import { ViewTransitions } from "astro:transitions";

import BaseMeta from "../components/base-meta.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import "../styles/global.css";

import BaseAssets from "./base-assets.astro";

export type Props = {
	title?: string;
	description?: string;
};

export const { title = SITE_TITLE, description = SITE_DESCRIPTION } =
	Astro.props || {};
---

<!doctype html>
<html lang="en">
	<head>
		<BaseMeta {title} {description}>
			<slot name="meta" />
		</BaseMeta>
		<BaseAssets />
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
