---
import IconLink from "./icon-link.astro";

const today = new Date();
const millennium = 2000;
const yearStart = millennium + 20;
const yearEnd = today.getFullYear() - millennium;
---

<footer>
	<span>
		&copy;{yearStart}-{yearEnd}
	</span>

	<div class="links">
		<IconLink href="https://toot.cafe/@oliverturner" icon="mastodon">
			Mastodon
		</IconLink>
		<IconLink href="https://github.com/oliverturner" icon="github">
			Github
		</IconLink>
	</div>
</footer>

<style>
	@design-tokens url("../styles/generated-tokens.json") format("style-dictionary3");

	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-top: var(--site-footer-border);
		padding: dt("step-02") dt("step-01");
		font-size: dt("step-01");
		line-height: 1;
		text-align: center;
		background: var(--site-footer-bg);
		color: var(--site-footer-text);
	}

	.links {
		display: flex;
		gap: 1rem;
	}
</style>
