---
import Icon from "./icon.astro";
const { icon, href } = Astro.props;
---

<a class="iconlink" {href} target="_blank">
	<Icon {icon} />
	<span><slot /></span>
</a>

<style>
	.iconlink {
		width: 1.5rem;
		aspect-ratio: 1;
		overflow: hidden;
	}
</style>
