---
import SiteLinks from "../components/site-links.astro";
import Nav from "./nav.astro";
---

<div class="page">
	<div class="page__content">
		<slot />
	</div>
	<Nav>
		<SiteLinks />
	</Nav>
</div>

<style>
	.page {
		display: grid;

		grid-template-areas: "content";
		gap: var(--step-0);

		overflow: hidden;
		height: 100vh;
		height: 100svh;
		max-width: calc(2200px - 2rem);
		margin: auto;

		@media (--mq-medium) {
			justify-content: center;

			grid-template-columns: var(--width-content) var(--width-nav);
			grid-template-areas: "content nav";
		}
	}

	.page__content {
		grid-area: content;

		overflow-y: auto;
		min-height: 100%;
	}
</style>
