<nav>
	<button id="nav-btn" class="nav__btn clipped--bl iconbtn iconbtn--stacked">
		<svg><use href="/spritesheet.svg#icon-burger"></use></svg>
		<span class="visually-hidden">Menu</span>
	</button>
	<slot />
</nav>
<script src="../scripts/toggle-nav.ts"></script>

<style>
	@design-tokens url("../styles/generated-tokens.json") format("style-dictionary3");

	nav {
		grid-area: nav;

		display: grid;
		align-content: start;
		gap: dt("step-1");

		width: dt("width.nav");
		height: 100%;
		padding: dt("step-1") 0;
		font-weight: 700;
		background-color: #000;
		color: dt("color.grey-3");

		@media (max-width: dt("viewport.medium")) {
			grid-area: content;

			position: fixed;
			top: 0;
			left: 100%;

			will-change: transform;
			transform: translateX(var(--nav-x));
			transition: 0.3s transform ease-in-out;
		}
	}

	.nav__btn {
		display: none;

		@media (max-width: dt("viewport.medium")) {
			--clip-size: 0.75rem;
			--clip-bottom-left: polygon(
				0 0,
				100% 0,
				100% 100%,
				var(--clip-size) 100%,
				0 calc(100% - var(--clip-size)),
				0 0
			);

			display: block;
			position: absolute;
			top: 0;
			right: 100%;

			padding: dt("step-02") dt("step-01");
			background-color: inherit;
			color: #fff;
		}
	}
</style>
