---
import links from "../data/links.json";

const { pathname } = Astro.url;
const activeCategory = pathname.split("/").at(1);

function getClassName(url: string) {
	const urlCategory = url.split("/").at(1);
	const isActive = urlCategory === activeCategory;
	return isActive ? "title is-active" : "title";
}
---

{
	links.map(({ url, label }) => {
		return (
			<a class={getClassName(url)} href={url?.length ? url : "/"}>
				{label}
			</a>
		);
	})
}

<style>
	a {
		--colour: var(--colour-site-text);
		--colour-text: var(--colour-site-bg);

		padding: var(--step--1) var(--step-1);
		line-height: 1;
		letter-spacing: 2px;
		text-decoration: none;
		color: var(--colour);

		transition: background-color, color;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&.is-active,
		&:hover,
		&:focus {
			outline: none;

			background-color: var(--colour);
			color: var(--colour-text);
		}

		&[href="/about"] {
			--colour: var(--colour-topic-about);
			--colour-text: var(--colour-topic-about-text);
		}

		&[href="/articles"] {
			--colour: var(--colour-topic-articles);
			--colour-text: var(--colour-topic-articles-text);
		}

		&[href="/projects"] {
			--colour: var(--colour-topic-projects);
			--colour-text: var(--colour-topic-projects-text);
		}

		&[href="/weeknotes"] {
			--colour: var(--colour-topic-weeknotes);
			--colour-text: var(--colour-topic-weeknotes-text);
		}

		&[href="/in-use"] {
			--colour: var(--colour-topic-inuse);
			--colour-text: var(--colour-topic-inuse-text);
		}
	}
</style>
