---
// This component is intentionally unstyled.
// Structure is purely semantic.
---

<nav>
  <a href="/">Home</a>
  <a href="#">Projects</a>
  <a href="#">Articles</a>
  <a href="#">Blog posts</a>
  <a href="/about">About</a>
</nav>

<style>
  nav {
    display: grid;
    align-content: start;

    height: 100%;
    padding: var(--nav-padding);
    background-color: var(--nav-bg-colour);
    color: var(--nav-text-colour);
  }

  a {
    text-decoration: none;
  }
</style>
