---
import links from "../data/links.json";

const { pathname } = Astro.url;
const activeCategory = pathname.split("/").at(1);

function getClassName(url: string) {
	const urlCategory = url.split("/").at(1);
	const isActive = urlCategory === activeCategory;
	return isActive ? "title is-active" : "title";
}
---

{
	links.map(({ url, label }) => {
		return (
			<a class={getClassName(url)} href={url?.length ? url : "/"}>
				{label}
			</a>
		);
	})
}

<style>
	@design-tokens url("../styles/generated-tokens.json") format("style-dictionary3");

	a {
		padding: dt("step-01") dt("step-1");
		line-height: 1;
		letter-spacing: 2px;
		text-decoration: none;
		color: var(--text);

		transition: background-color, color;
		transition-duration: 0.3s;
		transition-timing-function: ease-in-out;

		&.is-active,
		&:hover,
		&:focus {
			outline: none;

			background-color: var(--text);
			color: var(--bg);
		}

		&[href="/"] {
			--text: inherit;
			--bg: none;
		}

		&[href="/about"] {
			--text: dt("color.bg.about");
			--bg: dt("color.text.about");
		}

		&[href="/articles"] {
			--text: dt("color.bg.articles");
			--bg: dt("color.text.articles");
		}

		&[href="/projects"] {
			--text: dt("color.bg.projects");
			--bg: dt("color.text.projects");
		}

		&[href="/weeknotes"] {
			--text: dt("color.bg.weeknotes");
			--bg: dt("color.text.weeknotes");
		}

		&[href="/in-use"] {
			--text: dt("color.bg.inuse");
			--bg: dt("color.text.inuse");
		}
	}
</style>
