---
import IconLink from "./icon-link.astro";
import { SITE_TITLE } from "../config";

const today = new Date();
const millennium = 2000;
const yearStart = millennium + 20;
const yearEnd = today.getFullYear() - millennium;
---

<footer>
  <span>
    &copy;{yearStart}-{yearEnd}
    {SITE_TITLE}
  </span>

  <div class="links">
    <IconLink href="https://toot.cafe/@oliverturner" icon="mastodon">
      Mastodon
    </IconLink>
    <IconLink href="https://github.com/oliverturner" icon="github">
      Github
    </IconLink>
  </div>
</footer>

<style>
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: var(--site-footer-border);
    padding: var(--step--2) var(--step--1);
    font-size: var(--step--1);
    line-height: 1;
    text-align: center;
    background: var(--site-footer-bg);
    color: var(--site-footer-text);
  }

  .links {
    display: flex;
    gap: 1rem;
  }
</style>
