---
import BaseHead from "../components/base-head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export type Props = {
	title?: string;
	description?: string;
};

export const { title, description } = Astro.props || {};
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<slot name="meta">
			<BaseHead
				title={title || SITE_TITLE}
				description={description || SITE_DESCRIPTION}
			/>
		</slot>
	</head>
	<body>
		<slot />
	</body>
</html>
