---
export type Props = {
	title?: string;
	description?: string;
};

import BaseHead from "../components/base-head.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

export const { title, description } = Astro.props || {};
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<slot name="meta">
			<BaseHead {title || SITE_TITLE} {description || SITE_DESCRIPTION} />
		</slot>
	</head>
	<body>
		<slot />
	</body>
</html>
