---
import Base from "../components/base.astro";
import NavPage from "../components/nav-page.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<Base title={title} description={description}>
	<NavPage>
		<div class="content">
			<header>
				<slot name="header" />
			</header>

			<div class="copy">
				<slot />
			</div>
		</div>
	</NavPage>
</Base>

<style>
	.content {
		background-color: var(--nord-light-1);
	}

	header {
		padding: var(--step-0);
		background-color: var(--nord-light-0);

		& p {
			margin: 0;
			font-size: var(--step--1);
		}
	}

	.title {
		font-size: 2em;
	}

	.copy {
		height: 100%;
		padding: var(--step-2) var(--step-1);
	}
</style>
