---
import Base from "../components/base.astro";
import NavPage from "../components/nav-page.astro";
import ContentFooter from "../components/content-footer.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<Base title={title} description={description}>
	<NavPage>
		<div class="content">
			<header class="content__header">
				<slot name="header">
					<h1>{title}</h1>
					<p class="subtitle">{description}</p>
				</slot>
			</header>

			<div class="copy">
				<slot><p>Coming soon: ETA end of January 2023</p></slot>
			</div>

			<ContentFooter />
		</div>
	</NavPage>
</Base>

<style>
	@design-tokens url("../styles/generated-tokens.json") format("style-dictionary3");

	.content {
		display: grid;
		grid-template-rows: auto 1fr auto;

		min-height: 100%;
		background-color: dt("color.content.bg");
		color: dt("color.content.text");
	}

	header {
		padding: dt("step-0");
		background-color: var(--content-header-bg, dt("color.light-0"));
		color: var(--content-header-text, inherit);
	}
</style>
