---
import BaseHead from "../components/base-head.astro";
import SiteHeader from "../components/site-header.astro";
import Base from "./base.astro";

const { title, description } = Astro.props;
---

<Base>
	<BaseHead {title} {description} slot="meta" />
	<div class="layout">
		<div class="header">
			<SiteHeader {title} />
		</div>
		<div class="content">
			<slot />
		</div>
	</div>
</Base>

<style>
	.layout {
		display: grid;
		grid-template-rows: auto 1fr;

		overflow: hidden;
		height: 100vh;
		max-width: var(--viewport-large);
		margin: 0 auto;
	}
</style>
